/*
 * Calendar styling
 * This style is intended
 * to be added automagically
 * by JS into component
 * 
 * Do not include it manually,
 * please.
*/

:host {
  display: block;
  /*  Pixels-per-hour */
  --pph: 60px;
  --offset-top: 1em;
  --offset-bottom: 1em;
  animation: show 0.2s ease-out;
  animation-fill-mode: both;
  padding: 1em;
}

.-main-layout {
  display: flex;
  padding-top: var(--offset-top);
}

.-timeline {
  display: flex;
  flex-direction: column;
  color: var(--dark-gray);
  font-weight: bold;
  text-align: right;
  padding-right: 1em;
  animation: show 0.2s ease-out;
  animation-fill-mode: both;
  animation-delay: 0.2s;
}

.-timeline span {
  /*
    Adjusted by hand to make digits
    better aligned to lines
    Positive is down
  */
  --shiftY: -2px;
  padding-bottom: calc((var(--pph) - 0.5em - var(--shiftY)));
  height: 1em;
  margin-top: calc((-0.5em + var(--shiftY)));
}

.-timeline span:last-child {
  padding-bottom: calc(var(--offset-bottom) - 0.5em + 2px);
}


.-day {
  padding: 0 1em;
  background-image: 
  repeating-linear-gradient(
    0deg,
    transparent 0,
    transparent calc(var(--pph) - 2px),
    var(--light-gray) calc(var(--pph) - 2px),
    var(--light-gray) calc(var(--pph)),
    transparent calc(var(--pph))
  );
  background-size: var(--pph) var(--pph);
  background-position: 0 calc(var(--shift, 0)*var(--pph));
  flex-grow: 1;
  position: relative;
}

.-day::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--offset-top) * -1);
  bottom: 0;
  left: 0;
  width: 2px;
  background: var(--light-gray);
}

.-day .-date {
  color: var(--dark-gray);
  position: absolute;
  top: -2em;
  text-align: center;
  left: 1em;
  right: 1em;
  font-weight: bold;
}

.-event {
  padding: 0.5em;
  background: var(--accent);
  color: var(--on-accent);
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  top: calc(var(--start)/3600 * var(--pph) + 1px);
  height: max(calc(var(--diff)/3600 * var(--pph)), calc(2em + 8px));
  left: 1em;
  right: 1em;
  display: flex;
  flex-direction: column;
  animation: event-show 0.5s ease-out;
  animation-delay: calc(var(--anim-offset)*0.1s + 0.2s);
  animation-fill-mode: backwards;
  transform: translate(0, 0);
  width: calc(100% - 2em);
  z-index: 1;
  transition: 
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out,
    height 0.2s ease-in-out,
    width 0.2s ease-in-out,
    background 0.2s ease-in-out,
    color 0.2s ease-in-out;
  box-shadow: 0 0 0px 2px #fff;
}

.-event::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 0;
  transition: height 0.2s ease-in-out;
}

.-event:hover {
  transform: translate(0, -5px) !important;
  box-shadow: var(--shadow), 0 0 0px 2px #fff;
  z-index: 100;
  height: max(calc(var(--diff)/3600 * var(--pph)), calc(12em + 8px));
  width: 200px;
  background: #fff;
  color: #000;
}

.-event:hover::before {
  height: 5px;
}

.-event .--invisible {
  height: 0;
  opacity: 0;
  user-select: none;
  animation: none !important;
}

.-event:hover .--invisible {
  height: 1.3em;
  opacity: 1;
  user-select: auto;
  transition: opacity .2s;
}

@keyframes event-show {
  from {
    transform: translate(0, -15px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.-event .-spacer {
  flex-grow: 1;
  flex-shrink: 1000;
}

.-event .-name {
  animation: show 0.5s ease-out;
  animation-delay: calc(var(--anim-offset)*0.1s + 0.4s);
  animation-fill-mode: both;
}

.-event .-time {
  animation: show 0.5s ease-out;
  animation-delay: calc(var(--anim-offset)*0.1s + 0.6s);
  animation-fill-mode: both;
}

.-event .-cabinet {
  animation: show 0.5s ease-out;
  animation-delay: calc(var(--anim-offset)*0.1s + 0.8s);
  animation-fill-mode: both;
}

.-event .-time,
.-event .-cabinet {
  color: var(--faded-on-accent);
}

.-event:hover .-time,
.-event:hover .-cabinet {
  color: var(--dark-gray);
}

.-event a.-info-link.--invisible {
  align-self: flex-end;
  text-align: center;
  background: var(--accent);
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
  height: 1.5em;
  text-decoration: none !important;
}