@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
:root {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;

  --dark-gray: #9DACB5;
  --light-gray: #DFE5E9;
  --accent: #6BA2AE;
  --on-accent: #ffffff;
  --faded-on-accent: #C9E7E1;
  --shadow: 0px 10px 40px rgba(70, 81, 108, 0.28);
}